.btn {
  background-color: var(--eco-bg-buttons);
  border: none;
  border-radius: var(--eco-br-primary);
  height: 35px;
  color: var(--eco-color-links);
  cursor: pointer;
  transition: all 0.5s;
  font-size: 12px;
}

.btn:hover {
  background-color: var(--eco-bg-buttons-hover);
}
