.card {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: var(--eco-bg-tertiary);
  border-radius: var(--eco-br-primary);
  padding: var(--eco-spacing-xs);
  box-shadow: 2px 2px 10px 0px rgba(143, 143, 148, 1);
  border: 2px solid var(--eco-bg-borders);
  view-timeline-name: --image;
  view-timeline-axis: block;
  animation-timeline: --image;
  animation-name: show;
  animation-range: entry 1% cover 30%;
  animation-fill-mode: both;
}

.card > div {
  width: 100%;
  height: 50%;
  padding: 0;
}

.card > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--eco-br-primary) var(--eco-br-primary) 0px 0px;
}
.card > button {
  width: 100%;
}

@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }

  to {
    opacity: 1;
    scale: 100%;
  }
}
