footer {
  background-color: var(--eco-bg-secondary);
  width: 100%;
  margin-top: var(--eco-spacing-xl);
  padding: var(--eco-spacing-m);
  display: flex;
  flex-direction: column;
  gap: var(--eco-spacing-m);
  position: relative;
}

footer h5 {
  color: var(--eco-color-links);
  font-size: 16px;
}

.footer__logo > img {
  width: 200px;
  margin-bottom: var(--eco-spacing-s);
}

.footer__nav > nav > ul {
  display: flex;
  flex-direction: column;
  gap: var(--eco-spacing-s);
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: var(--eco-spacing-s);
  align-items: start;
}

.footer__follow {
  margin-top: var(--eco-spacing-s);
  display: flex;
  flex-direction: column;
  gap: var(--eco-spacing-s);
}

.footer__follow > div {
  display: flex;
  align-items: center;
  gap: var(--eco-spacing-xs);
}

.footer__follow > div > img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

footer p {
  font-size: 16px;
  color: var(--eco-color-links);
  text-align: center;
  font-size: 12px;
}

@media (min-width: 1000px) {
  footer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: var(--eco-spacing-s);
    padding-bottom: 60px;
    height: 350px;
  }
  footer > p {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 90%;
  }

  .footer__follow {
    margin-top: 0;
  }

  .footer__contact > h5 {
    margin-top: 0;
  }
}
